@import 'variables';

.main{
  background-color: $purpleblue;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  header{
    color: $pink;
  }
}