// main scss file
@import 'variables';
@import 'Login';
@import 'Main';
@import 'PlatformFilter';
@import 'GenreFilter';
@import 'Card';
@import 'CardList';

// Removes html default padding
html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; // Inherits the box-sizing from the html and body
}
